.list-group-item input {
    width: 100%;
}
.list-group {
    width: 400px
}
.domain {
    -webkit-padding-end: 6px;
    -webkit-padding-start: 2px;
    color: rgb(151, 156, 160);
    min-width: -webkit-min-content;
    overflow: hidden;
    white-space: nowrap;
}
