.list-group-item input {
    width: 100%;
}
.list-group {
    width: 600px
}
.domain {
    color: rgb(151, 156, 160);
    min-width: -webkit-min-content;
    overflow: hidden;
    white-space: nowrap;
}
